body {
  text-align: center;
  /* background-image: url("./toothbrush.gif"); */
  background-color: rgb(217, 217, 237);
}
.nav-links {
  background-color: antiquewhite;
}
.link {
  margin: 15px;
}
.tooth {
  font-size: 60px;
}
ul {
  list-style: none;
}
